/* Global */
* {
  padding: 0;
  margin: 0;
  font-family: "Cantarell", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* Tags */
main {
  padding: 20px;
}

header {
  background-color: lightgray;
  text-align: center;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  padding-left: 5px;
  padding-right: 5px;
}

/* Classes */
.display {
  background-color: white;
}

/* IDs */
#found-color-div {
  width: 75vw;
  height: 50vh;
  border: 1px solid black;
  background-color: black;
  margin: auto;
  margin-top: 20px;
}

#input-div {
  margin: auto;
  margin-top: 20px;
  width: 50vw;
}
