/* == Tags == */

body {
    font-family: 'Roboto', sans-serif;
}

figure {
    width: 300px;
    height: 300px;
}

span {
    background-color: white;
}

/* Elements */

#chosen-color, #found-color {
    background-color: black;
}