* {
  padding: 0;
  margin: 0;
  font-family: "Cantarell", sans-serif;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 20px;
}

header {
  background-color: lightgray;
  text-align: center;
}

.display {
  background-color: white;
}

#found-color-div {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
